/* Estilo personalizado para el cuerpo y el html */
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para el fondo */
.fondo {
    background-image: url(../img/prueba1.jpg);
    background-size: cover;
}

.botones-inicio {
    background-color: #8B0000;
    border-color: black;
}
.botones-inicio:hover {
    background-color: #D2691E;
}

/* Estilo personalizado para los row */
.mi-row {
  height: auto; /* Establece la altura del row al 100% del alto de la ventana */
  min-height: 77vh;
}

/* Estilo de la bandeja de carga de imagen */
.frame-box {
    border: 1px solid black;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.centered-text {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    display: block;
}
.input-field {
    display: block;
    margin-top: 10px;
}

/* Estilo adicional para la imagen */
#image-preview {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

/* Estilo para ocultar el título y el input después de cargar la imagen */
.hidden {
    display: none;
}

/* Estilo para la lista de productos */
.titulo-lista {
    background-color: rgba(255, 165, 0, 0.5);
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 165, 0, 0.5);
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
/*
th {
    
} */
td {
    white-space: nowrap; /* Evita que el contenido se corte en celdas pequeñas */
}
.cantidad {
    width: 20%;
}
.descripcion {
    width: 40%;
}
.precio_unitario {
    width: 20%;
}
.importe {
    width: 20%;
}

/* Estilo para el menu desplegable - Producto */
#opciones {
    position: absolute;
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1; /* Asegura que el menú se superponga sobre otros elementos */
}

/* Ajustamos el margen y el padding de las opciones */
#opciones p {
    margin: 0;
    padding: 5px 10px;
}

/* Estilo para el logo */
.fondo-logo {
    text-align: center;
}
.logo {
    font-size: 32px;
    font-weight: bold;
    color: #8B4513;
    background-color: #D2691E;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.choco {
    color: #8B0000;
}
.factory {
    color: #FFF;
    background-color: #8B0000;
    padding: 5px;
    border-radius: 5px;
}

